doctype html
html(lang="hu")
  head
    meta(charset="UTF-8")
    title Felhasználói profil
    link(href="/output.css" rel="stylesheet")
  body.bg-gray-100.text-gray-900
    .container.mx-auto.p-4
      h1.text-2xl.font-bold.mb-4 Felhasználói profil
      .bg-white.p-6.rounded.shadow-md
        p
          strong Felhasználónév:
          | #{user.username}
        p
          strong Keresztnév:
          | #{user.first_name}
        p
          strong Vezetéknév:
          | #{user.last_name}
        p
          strong Születési dátum:
          | #{formatDate(user.birth_date)}
        .flex.justify-between.mt-4
          a.bg-blue-500.text-white.px-4.py-2.rounded(href=`/users/edit/${user.id}`) Szerkesztés
